{% extends 'bestnidBundle:Subasta:base.html.twig' %}

{% block contenedor -%}
<div class="container">
	<div class="panel">

		<h3 class="highlight">Resultados para {{ busqueda }}</h3>
		
		<div class="row">
			{% for s in entities %}
					
				<div class="col-sm-4 col-md-4">
					<a href="{{ path('subasta_show', { id: s.getId }) }}">
						<div class="thumbnail">
							<img src="{{ asset(s.getWebPath) }}" alt="...">
							<div class="caption">
								<div align="center"><h3>{{ s.titulo }}</h3></div>
								<div align="center"><p><a href="{{ path('subasta_show', { id: s.getId }) }}" class="btn btn-primary" role="button">Ver Subasta</a> <a href="{{path('oferta_new',{idSubasta: s.getId})}}" class="btn btn-success 
								
								{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user.id == s.getIdUserSubastador.getId %}
										
									disabled
											
								{% endif %}
								
								" role="button">Ofertar</a></p></div>
							</div>
						</div>
					</a>
				</div>
				
			{% endfor %}
		</div>

		<div align="center">
			<ul class="pagination">

			{% if cantidadPaginas > 0 %}

				{% for i in 0..cantidadPaginas-1 %}
					<li

						{% if (i == paginaActual) %}

							class="active"

						{% endif %}


					><a href=""></a></li>
				{% endfor %}

			{% endif %}
			</ul>
		</div>
	</div>
</div>
	{% endblock %}