{% extends 'base.html.twig' %}

{% block body %}
    <h1>Exposicion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ exposicion.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if exposicion.fecha %}{{ exposicion.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Lugar</th>
                <td>{{ exposicion.lugar }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('exposicion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('exposicion_edit', { 'id': exposicion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
